
@{
    ViewBag.Title = "SendGame";
}

<head>
    <style>
    .button
    {
        background-color: white;
    }
    #searchBar input[type=text]
    {

    }
    .avatar 
    {
    /* put custom avatar css here */
    }
    </style>
</head>
<h2 style="color: white;">Send Games</h2>

<!-- Page Content -->
<body style="background: rgba(0, 0, 0, 0.90);">
<div id="page-content-wrapper">
<div class="container-fluid">
    
    <form class="form-inline float-xs-left">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <br />
        <div class="well" style="background: rgba(0, 0, 0, 0.40); color: white;">
            <div class="row">
                <div class="col-xs-2 col-md-2 col-md-offset-1 col-xs-offset-2">
                    <p>Title</p>
                </div>
                <div class="col-xs-2 col-md-2">
                    <p>Platform</p>
                </div>
                <div class="col-xs-1 col-md-1">
                    <p>Points <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/bitcoin-icon.png" width="20" height="20" alt="pointsIcon"/></p>
                </div>
                <div class="col-xs-2 col-md-2 col-md-offset-1 col-xs-offset-1">
                    <p>Username</p>
                </div>
                <div class="col-xs-1 col-md-2">
                    <p>Region</p>
                </div>
            </div>
        </div>

        <div class="well" style="background: rgba(0, 0, 0, 1); color: white;">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <p> <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/iyydljzdli44mdiyaeva.jpg" width="73" height="98" alt="cover art"> </p>
                </div>
                <div class="col-xs-2 col-md-2">
                    <p>Battlefield 1</p>
                </div>
                <div class="col-xs-2 col-md-2">
                    <p>Playstation 4 <br>Xbox One</p>
                </div>
                <div class="col-xs-1 col-md-1">
                    <p>10 <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/bitcoin-icon.png" width="20" height="20" alt="pointsIcon" /> </p>
                </div>
                <div class="col-xs-1 col-md-1">
                    <a href="#">
                        <img height="60" width="60" alt="avatar" src="https://pbs.twimg.com/profile_images/654052237929414656/YUI--ZV8.jpg" class="avatar img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                        <a href="#">
                            <span class="header-username">Mushkatblat</span>
                        </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    <p>Moscow, Russia</p>
                </div>
                <div class="col-xs-12 col-md-1">
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>

        <div class="well" style="background: rgba(0, 0, 0, 1); color: white;">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <p> <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/iyydljzdli44mdiyaeva.jpg" width="73" height="98" alt="cover art"> </p>
                </div>
                <div class="col-xs-2 col-md-2">
                    <p>Battlefield 1</p>
                </div>
                <div class="col-xs-2 col-md-2">
                    <p>Playstation 4 <br> Xbox One</p>
                </div>
                <div class="col-xs-1 col-md-1">
                    <p>1750 <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/bitcoin-icon.png" width="20" height="20" alt="pointsIcon" /></p>
                </div> 
                <div class="col-xs-1 col-md-1">
                    <a href="#">
                        <img height="60" width="60" alt="avatar" src="https://pbs.twimg.com/profile_images/654052237929414656/YUI--ZV8.jpg" class="avatar img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    <a href="#">
                        <span class="header-username">KermitZFrog</span>
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    <p>Yerevan, Armenia</p>
                </div>
                <div class="col-xs-12 col-md-1">
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>

        <div class="well" style="background: rgba(0, 0, 0, 1); color: white;">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <p> <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/enfj0w4cqsicczzkaas0.jpg" width="73" height="98" alt="cover art"> </p>
                </div>
                <div class="col-xs-2 col-md-2">
                    The Witcher 3: The Wild Hunt
                </div>
                <div class="col-xs-2 col-md-2">
                    Playstation 4
                </div>
                <div class="col-xs-1 col-md-1">
                    1800 <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/bitcoin-icon.png" width="20" height="20" alt="pointsIcon" />
                </div>
                <div class="col-xs-1 col-md-1">
                    <a href="#">
                        <img height="60" width="60" alt="avatar" src="https://pbs.twimg.com/profile_images/654052237929414656/YUI--ZV8.jpg" class="avatar img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    <a href="#">
                        <span class="header-username">CompSciMadMan</span>
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    Bucharest, Romania
                </div>
                <div class="col-xs-12 col-md-1">
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>

        <div class="well" style="background: rgba(0, 0, 0, 1); color: white;">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <p> <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/yob05bs5ffigu3rmrni1.jpg" width="73" height="98" alt="cover art"> </p>
                </div>
                <div class="col-xs-2 col-md-2">
                    Overwatch
                </div>
                <div class="col-xs-2 col-md-2">
                    Xbox 360
                </div>
                <div class="col-xs-1 col-md-1">
                    1960 <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/bitcoin-icon.png" width="20" height="20" alt="pointsIcon" />
                </div>
                <div class="col-xs-1 col-md-1">
                    <a href="#">
                        <img height="60" width="60" alt="avatar" src="https://pbs.twimg.com/profile_images/654052237929414656/YUI--ZV8.jpg" class="avatar img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    <a href="#">
                        <span class="header-username">JenJen22</span>
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    California, USA
                </div>
                <div class="col-xs-12 col-md-1">
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>

        <div class="well" style="background: rgba(0, 0, 0, 1); color: white;">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <p> <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/ofu6ewg0tzdt5vmzcj9q.jpg" width="73" height="98" alt="cover art"> </p>
                </div>
                <div class="col-xs-2 col-md-2">
                    Dark Souls III
                </div>
                <div class="col-xs-2 col-md-2">
                    Playstation 3 <br /> Xbox 360
                </div>
                <div class="col-xs-1 col-md-1">
                    2000 <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/bitcoin-icon.png" width="20" height="20" alt="pointsIcon" />
                </div>
                <div class="col-xs-1 col-md-1">
                    <a href="#">
                        <img height="60" width="60" alt="avatar" src="https://pbs.twimg.com/profile_images/654052237929414656/YUI--ZV8.jpg" class="avatar img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    <a href="#">
                        <span class="header-username">Ben10</span>
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    Tokyo, Japan
                </div>
                <div class="col-xs-12 col-md-1">
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>

        <div class="well" style="background: rgba(0, 0, 0, 1); color: white;">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <p> <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/sztcjmrrz4bu9hzthq0m.jpg" width="73" height="98" alt="cover art"> </p>
                </div>
                <div class="col-xs-2 col-md-2">
                    Tom Clancy's Rainbow Six: Siege
                </div>
                <div class="col-xs-2 col-md-2">
                    Playstation 3 <br />
                    Playstation 4 <br />
                    Xbox 360 <br />
                    Xbox One
                </div>
                <div class="col-xs-1 col-md-1">
                    1600 <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/bitcoin-icon.png" width="20" height="20" alt="pointsIcon" />
                </div>
                <div class="col-xs-1 col-md-1">
                    <a href="#">
                        <img height="60" width="60" alt="avatar" src="https://pbs.twimg.com/profile_images/654052237929414656/YUI--ZV8.jpg" class="avatar img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    <a href="#">
                        <span class="header-username">JosePrez</span>
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    Utah, USA
                </div>
                <div class="col-xs-12 col-md-1">
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>

        <div class="well" style="background: rgba(0, 0, 0, 1); color: white;">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <p> <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/oyjdvo2xd0j9crlm3lwe.jpg" width="73" height="98" alt="cover art"> </p>
                </div>
                <div class="col-xs-2 col-md-2">
                    Xenoblade Chronicle x
                </div>
                <div class="col-xs-2 col-md-2">
                    Wii U
                </div>
                <div class="col-xs-1 col-md-1">
                    1700 <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/bitcoin-icon.png" width="20" height="20" alt="pointsIcon" />
                </div>
                <div class="col-xs-1 col-md-1">
                    <a href="#">
                        <img height="60" width="60" alt="avatar" src="https://pbs.twimg.com/profile_images/654052237929414656/YUI--ZV8.jpg" class="avatar img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    <a href="#">
                        <span class="header-username">Aria45</span>
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    Neveda, USA
                </div>
                <div class="col-xs-12 col-md-1">
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>

        <div class="well" style="background: rgba(0, 0, 0, 1); color: white;">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <p> <img src="https://images.igdb.com/igdb/image/upload/t_cover_big/wyk6wqgo2fjd4g6xdntx.jpg" width="73" height="98" alt="cover art"> </p>
                </div>
                <div class="col-xs-2 col-md-2">
                    Super Mario Galaxy 2
                </div>
                <div class="col-xs-2 col-md-2">
                    Wii
                </div>
                <div class="col-xs-1 col-md-1">
                    200 <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/bitcoin-icon.png" width="20" height="20" alt="pointsIcon" />
                </div>
                <div class="col-xs-1 col-md-1">
                    <a href="#">
                        <img height="60" width="60" alt="avatar" src="https://pbs.twimg.com/profile_images/654052237929414656/YUI--ZV8.jpg" class="avatar img-responsive">
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    <a href="#">
                        <span class="header-username">Fitz</span>
                    </a>
                </div>
                <div class="col-xs-2 col-md-2">
                    Washington, USA
                </div>
                <div class="col-xs-12 col-md-1">
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>

</div>
</div>
</body>